*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body
{
    background-color: #e7e8e8;
}
.header
{
    height: 470px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(#b3ddff 20%, #f4eae2 60%);
    border-bottom: 5px solid #ccc;
    box-shadow: 0 0 10px gray;
    
}
.nav
{
    
    width: 100%;
    background-color: #30587d;
}
.nav ul
{
    height: 50px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px gray;
}
.nav ul a
{
    padding: 16px;
    font-size: 20px;
    color: #b3ddff;
}
.nav ul li a
{
    display: block; 
    transition: all 200ms;
}
.nav ul li a:hover
{
    color: #fff;
    transform: scale(1.1);
    text-shadow: 0px 0px 3px #b3ddff;
}
#content-prin-header
{
    overflow: hidden;
}
h3
{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -2px 0 4px gray;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #30587d;
}
p
{
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
}
.content-description
{
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    border-radius: 0px 0px 57% 57%;
    background-color: #30587d;
    color: #fff;
}
.content-title
{
    width: 96%;
    padding-top: 35px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}
.content-img
{
    height: 130px;
    width: 130px;
    margin-top: 40px;
    background-image: url(../img/img3.jpg);
    background-size: 250px;
    background-position: -60px -15px;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px black;
    border: 2px solid #f4eae2;
    border-radius: 50%;
    overflow: hidden;
}
